body {
    background-image: url("")
}
#header {
    background-color: black;
    width: 100%;
    height: 200px;
    float: inherit;
}
#logo {
    margin-right: auto;
    margin-left: 300px;


}
#menu {
    background-color: dimgray;
    width: 100%;
    height: 75px;
}
#Mat {
    float: left;
     background-color: gray;
     width: 25%;
     height: 75px;
     -webkit-box-shadow:inset 0px 0px 0px 10px lightgray;
     -moz-box-shadow:inset 0px 0px 0px 10px lightgray;
     box-shadow:inset 0px 0px 0px 10px lightgray;
 }
#Mat-text {
    margin-left: 120px;

}
#Drycker {
    float: left;
    background-color: gray;
    width: 25%;
    height: 75px;
    -webkit-box-shadow:inset 0px 0px 0px 10px lightgray;
    -moz-box-shadow:inset 0px 0px 0px 10px lightgray;
    box-shadow:inset 0px 0px 0px 10px lightgray;
}
#Drycker-text {
    margin-left: 100px;
}
#Boka {
    float: left;
    background-color: gray;
    width: 25%;
    height: 75px;
    -webkit-box-shadow:inset 0px 0px 0px 10px lightgray;
    -moz-box-shadow:inset 0px 0px 0px 10px lightgray;
    box-shadow:inset 0px 0px 0px 10px lightgray;
}
#Boka-text{
    margin-left: 110px;
}
#Kontaktaoss{
    float: left;
    background-color: gray;
    width: 25%;
    height: 75px;
    -webkit-box-shadow:inset 0px 0px 0px 10px lightgray;
    -moz-box-shadow:inset 0px 0px 0px 10px lightgray;
    box-shadow:inset 0px 0px 0px 10px lightgray;
}
#Kontaktaoss-text {
    margin-left: 60px;
}
#huvudsida {
    Background-color: gray;
    width: 100%;
    height: 1000px;
}
#Matbild {
    Margin-top: 20px;
    margin-left: 1%;
    width: 500px;
}
#Oppettidertable {
    margin-left: 560px;
    height: 390px;
    margin-top: -390px;
    border-color: red;
    border-style: solid;
    border-width: 10px;

  }
#Oppettidertext {
    font-size: 25px;
    float: right;
    margin-top: 15px;
    margin-right: 290px;
    color:darkred;
}
#Mat-text {
    margin-left: 200px;
    width: ;
}
#DAS {
    width: 530px;
    margin-left: 1%;
}

#karta {
    margin-top: 10%;
    float: right;
    position: absolute; left: 30%;
}

#om {
    float: right;
    position: relative; bottom: 500px;
    position: relative; right: 150px;
}

#oss {
    float: right;
    width: 200px;
    position: relative; bottom: 450px;
}